<div class="top">
  <div class="container">
    <h1>Contacts</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{contacts.length}} matching contact<span ng-hide="filteredContacts.length === 1 ">s</span></p>
    </div>
    <div class="col-md-4">
      <input ng-model="searchQuery" class="form-control" placeholder="Search..." autofocus>
    </div>
  </div>

  <br>

  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th ng-click="sort='name'; sortOrder=!sortOrder">Name</th>
      <th ng-click="sort='phone'; sortOrder=!sortOrder">Phone</th>
      <th ng-click="sort='email'; sortOrder=!sortOrder">E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in contacts | filter:searchQuery | orderBy: sort: sortOrder as filteredContacts">
      <td>
        <strong><a ui-sref="show({id:c.id})">{{ c.name}}</a></strong><br>
        {{ c.company}}
      </td>
      <td>{{ c.phone}}</td>
      <td>
        <a href="mailto:{{ c.email}}">{{ c.email}}</a>
      </td>
    </tr>

<!--    <tr>
      <td>
        <strong><a href="show.html">{{c.name}}</a></strong><br>
        {{c.company}}
      </td>
      <td>{{c.phone}}</td>
      <td>
        <a href="mailto:{{c.email}}"></a>
      </td>
    </tr>-->
    </tbody>
  </table>
</div>

