<div class="top">
  <div class="container">
    <h1>Contacts</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{filteredContacts.length}} matching contact<span ng-hide="filteredContacts.length <= 1 ">s</span></p>
    </div>
    <div class="col-md-4">
      <input ng-model="searchQuery" class="form-control" placeholder="Search..." autofocus>
    </div>
  </div>

  <br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>
        <!-- LINK: https://scotch.io/tutorials/sort-and-filter-a-table-using-angular-->
        <a ng-click="sort = 'name'; sortOrder = !sortOrder">
          Name
          <span ng-show="sort == 'name' && !sortOrder" class="glyphicon glyphicon-triangle-bottom sort_DESC"></span>
          <span ng-show="sort == 'name' && sortOrder" class="glyphicon glyphicon-triangle-top sort_ASC"></span>
        </a>
        <!--second solution:  <i ng-show="sort == 'name'" class="glyphicon" ng-class="{'glyphicon-chevron-up': sortOrder, 'glyphicon-chevron-down': !sortOrder}"></i> -->
      </th>

      <th>
        <a ng-click="sort = 'phone'; sortOrder = !sortOrder">
          Phone
          <span ng-show="sort == 'phone' && !sortOrder" class="glyphicon glyphicon-triangle-bottom sort_DESC"></span>
          <span ng-show="sort == 'phone' && sortOrder" class="glyphicon glyphicon-triangle-top sort_ASC"></span>
        </a>
      </th>

      <th>
        <a ng-click="sort = 'email'; sortOrder = !sortOrder">
          Email
          <span ng-show="sort == 'email' && !sortOrder" class="glyphicon glyphicon-triangle-bottom sort_DESC"></span>
          <span ng-show="sort == 'email' && sortOrder" class="glyphicon glyphicon-triangle-top sort_ASC"></span>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in contacts | filter:searchQuery | orderBy: sort: sortOrder as filteredContacts">
      <td>
        <strong><a ui-sref="show({id:c._id})">{{ c.name}}</a></strong><br>
        {{ c.company}}
      </td>
      <td>{{ c.phone}}</td>
      <td>
        <a href="mailto:{{ c.email}}">{{ c.email}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

